section, .section, .section-inverse {
  padding-top: $section-padding-vert;
  padding-bottom: $section-padding-vert;
}

.section-title {
  @extend .h4;
  margin-bottom: $line-height-computed;
  font-weight: bold;
  color: darken($gray-lighter, 15%);
}


.section-lead {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: bold;
  line-height: $headings-line-height;
  letter-spacing: -1px;
  color: $brand-primary;
}

.section-inverse {
  background: $brand-primary;
  color: #FFF;
  //-webkit-box-shadow: 0 0 30px 2px rgba(0,0,0,0.125) inset;
  //-moz-box-shadow: 0 0 30px 2px rgba(0,0,0,0.125) inset;
  //box-shadow: 0 0 30px 2px rgba(0,0,0,0.125) inset;
  a {
    color: inherit;
  }
  .section-title {
    color: inherit;
    //color: $gray-dark;
  }
  .section-lead {
    color: inherit;
  }
  .btn-default {
    color: #FFF;
    border-color: #FFF;
    background: rgba(0,0,0,0.0);
    &:hover,
    &:focus {
      background: rgba(0,0,0,0.6);
    }
  }
  .btn-primary {
    @include button-variant(#fff, darken($gray,10%), #fff);
  }
}

@media (max-width: $screen-xs-max){
  section, .section, .section-inverse {
    padding-top: $line-height-computed / 2;
    padding-bottom: $line-height-computed / 2;
  }
  .section-title {
    margin-top: 0;
  }
  .section-lead {
    margin-bottom: $line-height-computed;
    font-size: 32px;
  }
}
