/*
Error: File to import not found or unreadable: bootstrap/variables.
       Load paths:
         /Users/lostandfound/LandingPages/bower_components/bootstrap-sass-official/assets/stylesheets
         /Users/lostandfound/LandingPages/css
         /var/folders/8d/stncnwdd41g97mgvmmgn2y880000gn/T/gulp-ruby-sass
        on line 1 of /Users/lostandfound/LandingPages/css/_variables.scss
        from line 2 of /var/folders/8d/stncnwdd41g97mgvmmgn2y880000gn/T/gulp-ruby-sass/styles.scss

1: // customize bootstrap variables here:
2: @import "./variables.scss";
3: @import "./bootstrap_custom.scss";
4: @import "./header.scss";
5: @import "./section.scss";
6: @import "./section_description.scss";

Backtrace:
/Users/lostandfound/LandingPages/css/_variables.scss:1
/var/folders/8d/stncnwdd41g97mgvmmgn2y880000gn/T/gulp-ruby-sass/styles.scss:2
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/import_node.rb:45:in `import'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:88:in `block in with_import'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:88:in `with_import'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
/Users/lostandfound/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.5/bin/sass:13:in `<top (required)>'
/Users/lostandfound/.rbenv/versions/2.4.1/bin/sass:22:in `load'
/Users/lostandfound/.rbenv/versions/2.4.1/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bootstrap/variables.\A        Load paths:\A          /Users/lostandfound/LandingPages/bower_components/bootstrap-sass-official/assets/stylesheets\A          /Users/lostandfound/LandingPages/css\A          /var/folders/8d/stncnwdd41g97mgvmmgn2y880000gn/T/gulp-ruby-sass\A         on line 1 of /Users/lostandfound/LandingPages/css/_variables.scss\A         from line 2 of /var/folders/8d/stncnwdd41g97mgvmmgn2y880000gn/T/gulp-ruby-sass/styles.scss\A \A 1: // customize bootstrap variables here:\A 2: @import \"./variables.scss\";\A 3: @import \"./bootstrap_custom.scss\";\A 4: @import \"./header.scss\";\A 5: @import \"./section.scss\";\A 6: @import \"./section_description.scss\";"; }
