ul.list-inline.creators-list
  | 
  | {block:IfAuthorName01}
  li {text:AuthorName 01}
  | 
  | {/block:IfAuthorName01}
  | {block:IfAuthorName02}
  li {text:AuthorName 02}
  | 
  | {/block:IfAuthorName02}
  | {block:IfContributorName01}
  li {text:ContributorName 01}
  | 
  | {/block:IfContributorName01}
  | {block:IfContributorName02}
  li {text:ContributorName 02}
  | 
  | {/block:IfContributorName02}
