| 
| {block:IfFacebookPageURL}
#fb-like-box-container.container.dd-container
  .fb-like-box(data-href='{text:FacebookPageURL}', data-colorscheme='light', data-show-faces='true', data-header='true', data-stream='false', data-show-border='true')
| 
| {/block:IfFacebookPageURL}
| 
