ul.list-inline.creators-list
  | 
  | {block:IfAuthorName01}
  li {text:AuthorName 01}
  | 
  | {/block:IfAuthorName01}
  | {block:IfAuthorName02}
  li {text:AuthorName 02}
  | 
  | {/block:IfAuthorName02}
  | {block:IfAuthorName03}
  li {text:AuthorName 03}
  | 
  | {/block:IfAuthorName03}
  | {block:IfAuthorName04}
  li {text:AuthorName 04}
  | 
  | {/block:IfAuthorName04}
  | {block:IfContributorName01}
  li {text:ContributorName 01}
  | 
  | {/block:IfContributorName01}
  | {block:IfContributorName02}
  li {text:ContributorName 02}
  | 
  | {/block:IfContributorName02}
  | {block:IfContributorName03}
  li {text:ContributorName 03}
  | 
  | {/block:IfContributorName03}
  | {block:IfContributorName04}
  li {text:ContributorName 04}
  | 
  | {/block:IfContributorName04}
