// セクション：動画 
meta(name='if:ShowSectionMovie', content='0')
meta(name='text:SectionMovie Heading', content='MOVIE')
meta(name='text:SectionMovie Lead', content='動画：リード文')
meta(name='text:SectionMovie EmbedCode', content='')
meta(name='select:SectionMovie AspectRatio', content='embed-responsive-16by9', title='16:9')
meta(name='select:SectionMovie AspectRatio', content='embed-responsive-4by3', title='4:3')
