// セクション：登場人物紹介 
meta(name='if:ShowSectionCharacters', content='1')
meta(name='text:SectionCharacters Heading', content='CHARACTERS')
meta(name='text:SectionCharacters Lead', content='キャラクター紹介：リード文')
// セクション：登場人物紹介 一列に表示するキャラクターの数
meta(name='select:ColumnCount Characters', content='col-sm-12', title='1')
meta(name='select:ColumnCount Characters', content='col-sm-6', title='2')
meta(name='select:ColumnCount Characters', content='col-sm-4', title='3')
meta(name='select:ColumnCount Characters', content='col-sm-3', title='4')
// セクション：登場人物紹介 キャラクター 01  
meta(name='image:CharacterImage 01', content='')
meta(name='text:CharacterName 01', content='')
meta(name='text:CharacterDesc 01', content='')
// セクション：登場人物紹介 キャラクター 02  
meta(name='image:CharacterImage 02', content='')
meta(name='text:CharacterName 02', content='')
meta(name='text:CharacterDesc 02', content='')
// セクション：登場人物紹介 キャラクター 03  
meta(name='image:CharacterImage 03', content='')
meta(name='text:CharacterName 03', content='')
meta(name='text:CharacterDesc 03', content='')
// セクション：登場人物紹介 キャラクター 04  
meta(name='image:CharacterImage 04', content='')
meta(name='text:CharacterName 04', content='')
meta(name='text:CharacterDesc 04', content='')
