      <ul class="list-inline creators-list">
        {block:IfAuthorName01}
          <li>{text:AuthorName 01}</li>
        {/block:IfAuthorName01}
        {block:IfAuthorName02}
          <li>{text:AuthorName 02}</li>
        {/block:IfAuthorName02}
        {block:IfContributorName01}
          <li>{text:ContributorName 01}</li>
        {/block:IfContributorName01}
        {block:IfContributorName02}
          <li>{text:ContributorName 02}</li>
        {/block:IfContributorName02}
      </ul>
