      {block:IfFacebookPageURL}
      <div id="fb-like-box-container" class="container dd-container">
        <div class="fb-like-box" data-href="{text:FacebookPageURL}" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
      </div>
      {/block:IfFacebookPageURL}
