      <footer id="footer">
        <div class="container dd-container text-center">

          {block:IfCopyrightHolder}<p>Copyright © {CopyrightYears} {text:CopyrightHolder}</p>{/block:IfCopyrightHolder}

          <p>{block:IfFooterText}{text:FooterText}{/block:IfFooterText}</p>

          <div><small><a href="http://lp.denshochan.com/">Theme</a> designed by <a href="http://densho.hatenablog.com/">Densho Channel</a>.</small></div>
        </div>
      </footer>
