      <!-- セクション：内容紹介 -->
      {block:IfShowSectionDescription}
      <section id="description" class="section-inverse">
        <div class="container dd-container">
          <h2 class="section-title text-center">{text:SectionDescription Heading}</h2>
          {block:IfSectionDescriptionLead}
            <p class="section-lead text-center">{text:SectionDescription Lead}</p>
          {/block:IfSectionDescriptionLead}
          <div class="description-body">
            {Description}
          </div>
        </div>
      </section>
      {/block:IfShowSectionDescription}
