      <!-- セクション：電子書籍とのつきあい方 -->
      {block:IfShowSectionHowToRead}
      <section id="how-to-read" class="section-light">
        <div class="container dd-container">
          <h2 class="h4 section-title text-center">HOW TO READ EBOOKS</h2>
          <p class="h1 text-center section-lead"><span class="inline-block">電子書籍との</span><span class="inline-block">つきあい方</span></p>
          <div class="free-writing-body-container">

            <ul>
              <li>専用端末がないと読めない？</li>
              <li>端末が壊れたら買った本は無駄になる？</li>
              <li>何に気をつければいいの？</li>
            </ul>

            <p>はじめて電子書籍に触れる人の、よくある疑問に答えます。</p>

            <p class="text-center"><a class="btn btn-info btn-lg" href="http://lp.denshochan.com/how-to-read-ebooks.html" target="_blank"><i class="fa fa-external-link"></i> 電子書籍とのつきあい方</a></p>
          </div>
        </div>
      </section>
      {/block:IfShowSectionHowToRead}
