      <!-- セクション：自由記述 -->
      {block:IfShowSectionFreeWriting}
      <section id="free-writing" class="section">
        <div class="container dd-container">
          <h2 class="h4 section-title text-center">{text:SectionFreeWriting Heading}</h2>

          {block:IfSectionFreeWritingLead}
            <p class="h1 text-center section-lead">{text:SectionFreeWriting Lead}</p>
          {/block:IfSectionFreeWritingLead}

          <div class="free-writing-body-container">
          {block:IfSectionFreeWritingBody}
            {text:SectionFreeWriting Body}
          {/block:IfSectionFreeWritingBody}
          </div>
        </div>
      </section>

        {block:IfShowSectionReviews}
          <hr class="context-break">
        {/block:IfShowSectionReviews}
      {/block:IfShowSectionFreeWriting}
