      {block:IfShowSectionContact}
      <hr class="context-break">

      <section id="contact">
        <div class="container dd-container">
          <h2 class="h4 section-title text-center">{text:SectionContact Heading}</h2>
          <div class="contact-form-container">
            {text:SectionContact EmbedCode}
          </div>
        </div>
      </section>
      {/block:IfShowSectionContact}
