      <!-- セクション：購入／ダウンロード -->
      {block:IfShowSectionAcquisition}
      <section id="acquisition" class="section-inverse">
        <div class="container dd-container">
          <h2 class="h4 section-title text-center">{text:SectionAcquisition Heading}</h2>

          {block:IfSectionAcquisitionLead}
            <p class="h1 text-center section-lead">{text:SectionAcquisition Lead}</p>
          {/block:IfSectionAcquisitionLead}

          {block:IfShowPrice}
            {block:IfPrice}
              <p class="text-center">販売価格 <span class="price">{text:Price}</span> 円</p>
            {/block:IfPrice}
            {block:IfNotPrice}
              <p class="text-center">販売価格 <span class="price">無料</span></p>
            {/block:IfNotPrice}
          {/block:IfShowPrice}

          {block:IfSectionAcquisitionNote}
            <p class="text-center small">{text:SectionAcquisition Note}</p>
          {/block:IfSectionAcquisitionNote}

          <hr>

          <ul class="list-inline text-center">
            {block:IfAcquisitionLinkLabel01}
            <li>
              <p><a href="{text:AcquisitionLinkURL 01}" class="btn btn-primary btn-lg">{text:AcquisitionLinkLabel 01}</a></p>
            </li>
            {/block:IfAcquisitionLinkLabel01}

            {block:IfAcquisitionLinkLabel02}
            <li>
              <p><a href="{text:AcquisitionLinkURL 02}" class="btn btn-primary btn-lg">{text:AcquisitionLinkLabel 02}</a></p>
            </li>
            {/block:IfAcquisitionLinkLabel02}

            {block:IfAcquisitionLinkLabel03}
            <li>
              <p><a href="{text:AcquisitionLinkURL 03}" class="btn btn-primary btn-lg">{text:AcquisitionLinkLabel 03}</a></p>
            </li>
            {/block:IfAcquisitionLinkLabel03}

            {block:IfAcquisitionLinkLabel04}
            <li>
              <p><a href="{text:AcquisitionLinkURL 04}" class="btn btn-primary btn-lg">{text:AcquisitionLinkLabel 04}</a></p>
            </li>
            {/block:IfAcquisitionLinkLabel04}

            {block:IfAcquisitionLinkLabel05}
            <li>
              <p><a href="{text:AcquisitionLinkURL 05}" class="btn btn-primary btn-lg">{text:AcquisitionLinkLabel 05}</a></p>
            </li>
            {/block:IfAcquisitionLinkLabel05}

            {block:IfAcquisitionLinkLabel06}
            <li>
              <p><a href="{text:AcquisitionLinkURL 06}" class="btn btn-primary btn-lg">{text:AcquisitionLinkLabel 06}</a></p>
            </li>
            {/block:IfAcquisitionLinkLabel06}

          </ul>

        </div>
      </section>
      {/block:IfShowSectionAcquisition}
