#features {
  padding-left: 1em;
  padding-right: 1em;
}

.feature-image-placeholder {
    width: 64px;
    text-align: center;
    font-size: 48px;
    line-height: 1;
    font-weight: bold;
}

.feature-description {
	text-align: justify;
}