// セクション：レビュー 
meta(name='if:ShowSectionReviews', content='1')
meta(name='text:SectionReviews Heading', content='REVIEWS')
meta(name='text:SectionReviews Lead', content='レビュー／推薦文：リード文')
// セクション：レビュー 01
meta(name='text:ReviewTitle 01', content='')
meta(name='text:ReviewComment 01', content='')
meta(name='text:ReviewAttributionTitle 01', content='')
meta(name='text:ReviewAttributionURL 01', content='')
meta(name='image:ReviewerImage 01', content='')
meta(name='text:ReviewerName 01', content='')
meta(name='text:ReviewerURL 01', content='')
meta(name='text:ReviewerRole 01', content='')
// セクション：レビュー 02
meta(name='text:ReviewTitle 02', content='')
meta(name='text:ReviewComment 02', content='')
meta(name='text:ReviewAttributionTitle 02', content='')
meta(name='text:ReviewAttributionURL 02', content='')
meta(name='image:ReviewerImage 02', content='')
meta(name='text:ReviewerName 02', content='')
meta(name='text:ReviewerURL 02', content='')
meta(name='text:ReviewerRole 02', content='')
// セクション：レビュー 03
meta(name='text:ReviewTitle 03', content='')
meta(name='text:ReviewComment 03', content='')
meta(name='text:ReviewAttributionTitle 03', content='')
meta(name='text:ReviewAttributionURL 03', content='')
meta(name='image:ReviewerImage 03', content='')
meta(name='text:ReviewerName 03', content='')
meta(name='text:ReviewerURL 03', content='')
meta(name='text:ReviewerRole 03', content='')
// セクション：レビュー 04
meta(name='text:ReviewTitle 04', content='')
meta(name='text:ReviewComment 04', content='')
meta(name='text:ReviewAttributionTitle 04', content='')
meta(name='text:ReviewAttributionURL 04', content='')
meta(name='image:ReviewerImage 04', content='')
meta(name='text:ReviewerName 04', content='')
meta(name='text:ReviewerURL 04', content='')
meta(name='text:ReviewerRole 04', content='')
// セクション：レビュー 05
meta(name='text:ReviewTitle 05', content='')
meta(name='text:ReviewComment 05', content='')
meta(name='text:ReviewAttributionTitle 05', content='')
meta(name='text:ReviewAttributionURL 05', content='')
meta(name='image:ReviewerImage 05', content='')
meta(name='text:ReviewerName 05', content='')
meta(name='text:ReviewerURL 05', content='')
meta(name='text:ReviewerRole 05', content='')
// セクション：レビュー 06
meta(name='text:ReviewTitle 06', content='')
meta(name='text:ReviewComment 06', content='')
meta(name='text:ReviewAttributionTitle 06', content='')
meta(name='text:ReviewAttributionURL 06', content='')
meta(name='image:ReviewerImage 06', content='')
meta(name='text:ReviewerName 06', content='')
meta(name='text:ReviewerURL 06', content='')
meta(name='text:ReviewerRole 06', content='')
