// セクション：著者紹介 
meta(name='if:ShowSectionBiographies', content='1')
meta(name='text:SectionBiographies Heading', content='CREATED BY')
meta(name='text:SectionBiographies Lead', content='著者紹介：リード文')
// セクション：著者紹介 著者01 
meta(name='image:AuthorImage 01', content='')
meta(name='text:AuthorName 01', content='')
meta(name='text:AuthorNameKana 01', content='')
meta(name='text:AuthorRole 01', content='著者')
meta(name='text:AuthorDescription 01', content='')
meta(name='text:AuthorURL 01', content='')
meta(name='text:AuthorTwitter 01', content='')
meta(name='text:AuthorFacebook 01', content='')
meta(name='text:AuthorGooglePlus 01', content='')
// セクション：著者紹介 著者02 
meta(name='image:AuthorImage 02', content='')
meta(name='text:AuthorName 02', content='')
meta(name='text:AuthorNameKana 02', content='')
meta(name='text:AuthorRole 02', content='著者')
meta(name='text:AuthorDescription 02', content='')
meta(name='text:AuthorURL 02', content='')
meta(name='text:AuthorTwitter 02', content='')
meta(name='text:AuthorFacebook 02', content='')
meta(name='text:AuthorGooglePlus 02', content='')
// セクション：著者紹介 著者03 
meta(name='image:AuthorImage 03', content='')
meta(name='text:AuthorName 03', content='')
meta(name='text:AuthorNameKana 03', content='')
meta(name='text:AuthorRole 03', content='著者')
meta(name='text:AuthorDescription 03', content='')
meta(name='text:AuthorURL 03', content='')
meta(name='text:AuthorTwitter 03', content='')
meta(name='text:AuthorFacebook 03', content='')
meta(name='text:AuthorGooglePlus 03', content='')
// セクション：著者紹介 著者04 
meta(name='image:AuthorImage 04', content='')
meta(name='text:AuthorName 04', content='')
meta(name='text:AuthorNameKana 04', content='')
meta(name='text:AuthorRole 04', content='著者')
meta(name='text:AuthorDescription 04', content='')
meta(name='text:AuthorURL 04', content='')
meta(name='text:AuthorTwitter 04', content='')
meta(name='text:AuthorFacebook 04', content='')
meta(name='text:AuthorGooglePlus 04', content='')
// セクション：著者紹介 協力者01 
meta(name='image:ContributorImage 01', content='')
meta(name='text:ContributorName 01', content='')
meta(name='text:ContributorNameKana 01', content='')
meta(name='text:ContributorRole 01', content='')
meta(name='text:ContributorDescription 01', content='')
meta(name='text:ContributorURL 01', content='')
meta(name='text:ContributorTwitter 01', content='')
meta(name='text:ContributorFacebook 01', content='')
meta(name='text:ContributorGooglePlus 01', content='')
// セクション：著者紹介 協力者02 
meta(name='image:ContributorImage 02', content='')
meta(name='text:ContributorName 02', content='')
meta(name='text:ContributorNameKana 02', content='')
meta(name='text:ContributorRole 02', content='')
meta(name='text:ContributorDescription 02', content='')
meta(name='text:ContributorURL 02', content='')
meta(name='text:ContributorTwitter 02', content='')
meta(name='text:ContributorFacebook 02', content='')
meta(name='text:ContributorGooglePlus 02', content='')
// セクション：著者紹介 協力者03 
meta(name='image:ContributorImage 03', content='')
meta(name='text:ContributorName 03', content='')
meta(name='text:ContributorNameKana 03', content='')
meta(name='text:ContributorRole 03', content='')
meta(name='text:ContributorDescription 03', content='')
meta(name='text:ContributorURL 03', content='')
meta(name='text:ContributorTwitter 03', content='')
meta(name='text:ContributorFacebook 03', content='')
meta(name='text:ContributorGooglePlus 03', content='')
// セクション：著者紹介 協力者04 
meta(name='image:ContributorImage 04', content='')
meta(name='text:ContributorName 04', content='')
meta(name='text:ContributorNameKana 04', content='')
meta(name='text:ContributorRole 04', content='')
meta(name='text:ContributorDescription 04', content='')
meta(name='text:ContributorURL 04', content='')
meta(name='text:ContributorTwitter 04', content='')
meta(name='text:ContributorFacebook 04', content='')
meta(name='text:ContributorGooglePlus 04', content='')
