// セクション：電子書籍とのつきあい方 
| 
| {block:IfShowSectionHowToRead}
section#how-to-read.section-light
  .container.dd-container
    h2.h4.section-title.text-center HOW TO READ EBOOKS
    p.h1.text-center.section-lead
      span.inline-block 電子書籍との
      span.inline-block つきあい方
    .free-writing-body-container
      ul
        li 専用端末がないと読めない？
        li 端末が壊れたら買った本は無駄になる？
        li 何に気をつければいいの？
      p はじめて電子書籍に触れる人の、よくある疑問に答えます。
      p.text-center
        a.btn.btn-info.btn-lg(href='http://lp.denshochan.com/how-to-read-ebooks.html', target='_blank')
          i.fa.fa-external-link
          | 電子書籍とのつきあい方
| 
| {/block:IfShowSectionHowToRead}
