// セクション：関連コンテンツ
meta(name='if:ShowSectionRelatedWorks', content='1')
meta(name='text:SectionRelatedWorks Heading', content='RELATED WORKS')
meta(name='text:SectionRelatedWorks Lead', content='関連商品：リード文')
// 一列に表示する作品の数0〜4 
meta(name='select:ColumnCount RelatedWorks', content='col-sm-12', title='1')
meta(name='select:ColumnCount RelatedWorks', content='col-sm-6', title='2')
meta(name='select:ColumnCount RelatedWorks', content='col-sm-4', title='3')
meta(name='select:ColumnCount RelatedWorks', content='col-sm-3', title='4')
// セクション：関連コンテンツ 01 
meta(name='image:RelatedWorkImage 01', content='')
meta(name='text:RelatedWorkTitle 01', content='')
meta(name='text:RelatedWorkURL 01', content='')
// セクション：関連コンテンツ 02 
meta(name='image:RelatedWorkImage 02', content='')
meta(name='text:RelatedWorkTitle 02', content='')
meta(name='text:RelatedWorkURL 02', content='')
// セクション：関連コンテンツ 03 
meta(name='image:RelatedWorkImage 03', content='')
meta(name='text:RelatedWorkTitle 03', content='')
meta(name='text:RelatedWorkURL 03', content='')
// セクション：関連コンテンツ 04 
meta(name='image:RelatedWorkImage 04', content='')
meta(name='text:RelatedWorkTitle 04', content='')
meta(name='text:RelatedWorkURL 04', content='')
