// セクション：オーディオ 
meta(name='if:ShowSectionAudio', content='0')
meta(name='text:SectionAudio Heading', content='AUDIO')
meta(name='text:SectionAudio Lead', content='オーディオ：リード文')
meta(name='text:SectionAudio EmbedCode', content='')
