// セクション：特徴紹介 
meta(name='if:ShowSectionFeatures', content='0')
meta(name='text:SectionFeatures Heading', content='FEATURES')
meta(name='text:SectionFeatures Lead', content='本書の特徴：リード文')
// セクション：特徴紹介 - 本書の特徴 01 
meta(name='image:FeatureImage 01', content='')
meta(name='text:FeaturePlaceholder 01', content='1')
meta(name='text:FeatureHeading 01', content='特徴 01')
meta(name='text:FeatureDesc 01', content='特徴の説明 01')
// セクション：特徴紹介 - 本書の特徴 02 
meta(name='image:FeatureImage 02', content='')
meta(name='text:FeaturePlaceholder 02', content='2')
meta(name='text:FeatureHeading 02', content='特徴 02')
meta(name='text:FeatureDesc 02', content='特徴の説明 02')
// セクション：特徴紹介 - 本書の特徴 03 
meta(name='image:FeatureImage 03', content='')
meta(name='text:FeaturePlaceholder 03', content='3')
meta(name='text:FeatureHeading 03', content='特徴 03')
meta(name='text:FeatureDesc 03', content='特徴の説明 03')
