// セクション：購入／ダウンロード 
meta(name='if:ShowSectionAcquisition', content='1')
meta(name='text:SectionAcquisition Heading', content='GET IT NOW!')
meta(name='text:SectionAcquisition Lead', content='購入／ダウンロード：リード文')
meta(name='text:SectionAcquisition Note', content='価格はストアのセールやキャンペーンなどによって変動する場合があります。')
meta(name='text:AcquisitionLinkLabel 01', content='')
meta(name='text:AcquisitionLinkURL 01', content='')
meta(name='text:AcquisitionLinkLabel 02', content='')
meta(name='text:AcquisitionLinkURL 02', content='')
meta(name='text:AcquisitionLinkLabel 03', content='')
meta(name='text:AcquisitionLinkURL 03', content='')