// セクション：著者紹介 
meta(name='if:ShowSectionBiographies', content='1')
meta(name='text:SectionBiographies Heading', content='CREATED BY')
meta(name='text:SectionBiographies Lead', content='著者紹介：リード文')
// セクション：著者紹介 著者01 
meta(name='image:AuthorImage 01', content='')
meta(name='text:AuthorName 01', content='')
meta(name='text:AuthorNameKana 01', content='')
meta(name='text:AuthorDescription 01', content='')
meta(name='text:AuthorURL 01', content='')
meta(name='text:AuthorTwitter 01', content='')
meta(name='text:AuthorFacebook 01', content='')
meta(name='text:AuthorGooglePlus 01', content='')
// セクション：著者紹介 協力者01 
meta(name='image:ContributorImage 01', content='')
meta(name='text:ContributorName 01', content='')
meta(name='text:ContributorNameKana 01', content='')
meta(name='text:ContributorRole 01', content='')
meta(name='text:ContributorDescription 01', content='')
meta(name='text:ContributorURL 01', content='')
meta(name='text:ContributorTwitter 01', content='')
meta(name='text:ContributorFacebook 01', content='')
meta(name='text:ContributorGooglePlus 01', content='')
